@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html, body {
  direction: rtl !important; /* اون !important کار رو تموم میکنه */
  text-align: right !important;
}

/* برای اینکه فلکس‌باکس‌ها هم برعکس بشن */
div, section, main, header, footer {
  direction: rtl;
}

/* اسکرول بار زیبا (اختیاری) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 4px;
}

@layer utilities {
  .animate-infinite-scroll {
    /* چون لیست خیلی بلند شده (۲۴ آیتم)، زمان رو زیاد میکنیم که سرگیجه نگیریم */
    animation: infinite-scroll 60s linear infinite; 
    will-change: transform;
    transform: translateZ(0);
  }
  
  /* در موبایل چون عرض کمه، همون ۶۰ ثانیه خوبه یا حتی کمتر هم میشه */
  @media (max-width: 768px) {
    .animate-infinite-scroll {
      animation-duration: 15;
    }
  }
}

@keyframes infinite-scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}